@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

.tiptap {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
